{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
    <div class="row py-5">

        <div class="col-6 offset-3">
            <div class="row pb-3">
                <div class="h2">Register</div>
            </div>
            {{ form_start(registrationForm) }}

            <div class="form-outline mb-4">
                {{ form_row(registrationForm.username) }}
            </div>

            <div class="form-outline mb-4">
                {{ form_row(registrationForm.first_name) }}
            </div>

            <div class="form-outline mb-4">
                {{ form_row(registrationForm.last_name) }}

            </div>

            <div class="form-outline mb-4">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>

            <div class="form-outline mb-4">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>

            <a href="{{ path('app_login') }}"> Already have an Account?</a>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" type="submit" class="btn btn-primary btn-block mb-4 text-right">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>



{% endblock %}
